<!-- <div class="container-fluid">
    <div class="row">
        <div id="title" class="slide header">
        </div>

        <div id="slide1" class="slide">
            <div class="title">
                <h1>Find out more about Marvel Heroes and Villains</h1>
                <form ng-submit="search()">
                    <input type="text" ng-model="searchTerm" placeholder="Search for Heroes">
                    <button class="btn btn-warning btn-block" type="submit">submit</button>
                </form>
                <div ng-repeat="character in characters">
                    <img id="img-char" class="img-responsive" src="{{character.thumbnail.path}}.jpg" alt="">
                </div>
            </div>
        </div>

        <div id="slide2" class="slide" ng-repeat="character in characters">
            <img class="img-responsive" src="{{character.thumbnail.path}}.jpg">
            <div class="title">
                <form ng-submit="search()">
                    <input type="text" ng-model="searchTerm" placeholder="Search for Heroes">
                    <button class="btn btn-warning btn-block" type="submit">submit</button>
                </form>
                    <p>{{character.description}}</p>
            </div>
        </div>

        <div id="slide3" class="slide">
            <div class="title">
                <form ng-submit="search()">
                    <input type="text" ng-model="searchTermSeries" placeholder="Search for Heroes">
                    <button class="btn btn-warning btn-block" type="submit">submit</button>
                </form>
                <div ng-repeat="character in characters">
                    <img id="img-char" class="img-responsive" src="{{character.thumbnail.path}}.jpg" alt="">
                    <p>{{character.description}}</p>
                </div>
            </div>
        </div>

        <div id="slide4" class="slide header">
            <h1>The End (sequels coming?!)</h1>
        </div>

    </div>
</div> -->
<div id="title" class="slide header animated pulse">
</div>
<div id="slide1" class="slide">
    <div class="title">
        <h1>Begin here! <br> type in a hero or villain <i class="fa fa-arrow-down"></i></h1>
        <hr>
        <form ng-submit="search()">
        
            <input type="text" ng-model="searchTerm" class="text-center" placeholder="Iron Man, Thor, Avengers....">
            <button class="btn btn-warning btn-block" type="submit">submit</button>
        </form>
        <div ng-repeat="character in characters | limitTo: 1">
            <img id="img-right" class="img-responsive animated lightSpeedIn" src="{{character.thumbnail.path}}.jpg" alt="">
        </div>
    </div>
</div>
<div id="slide2" class="slide">
    <h1 class="title">Biography</h1>
    <div ng-repeat="characters in characters">
    </div>
    <uib-carousel interval="myInterval" class="title">
        <uib-slide ng-repeat="characters in characters | limitTo: 3" active="active" index="$index">
            <img class="img-responsive" src="{{characters.thumbnail.path}}.jpg" alt="">
            <h1>{{characters.name}}</h1>
            <p>{{characters.description}}</p>
        </uib-slide>
    </uib-carousel>
    <img id="img-left" src="/img/homebg5.jpg" alt="">
    <img class="img" src="/img/homebg6.jpg" alt="">
</div>
<div id="slide3" class="slide">
    <h1 class="title">Series</h1>
    <uib-carousel interval="myInterval" class="title">
        <uib-slide ng-repeat="series in series" active="active" index="$index">
            <img class="img-responsive" src="{{series.thumbnail.path}}.jpg" alt="">
            <h1>{{series.name}}</h1>
            <p>{{series.description}}</p>
        </uib-slide>
    </uib-carousel>
    <img id="img-right-series" src="/img/thor.png" alt="">
    <img id="img-left-series" src="/img/vision.png" alt="">
</div>

<div id="slide5" class="slide">
<h1 class="title">Movies</h1>
    <uib-carousel interval="myInterval" class="title">
        <uib-slide ng-repeat="movie in movies | limitTo: 3" active="active" index="$index">
            <img class="img-responsive" src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" alt="">
            <h1 class="white-text">{{movie.title}} - <span class="red-text">{{movie.release_date | date: "fullDate"}}</span></h1>
            <p class="white-text">{{movie.overview}}</p>
        </uib-slide>
    </uib-carousel>
</div>
<div id="slide4" class="slide header">
    <h1>Issue #7</h1>
    <h2>Written by: Tim Muangkeo</h2>
</div>